{{ define "main" }}
<h1>{{ .Title }}</h1>
<div style="height: 3rem;"></div>
{{ range $k, $v := .Pages.ByPublishDate.Reverse }}
    {{ if .Date }}
        {{ if not $k }}
            <div class="sidenote" style="margin-top: 0.5rem;">{{ .Date.Format "Jan 2006" }}</div>
        {{ else }}
            <div class="sidenote">{{ .Date.Format "Jan 2006" }}</div>
        {{ end }}
        {{ else }}
        {{ if not $k }}
            <div class="sidenote" style="margin-top: 0.5rem;">no date</div>
        {{ else }}
            <div class="sidenote">no date</div>
        {{ end }}
    {{ end }}
    <h3 class="list"><a class="title" href="{{ .Permalink }}">{{ .Title | lower | markdownify }}</a></h3>
{{ end }}
{{ end }}