{{ define "main" }}
{{ if .Site.Params.enable_theme_toggle | default true }}
    <div class="theme-switch">
        <button class="btn-theme-switch" id="btn-theme-toggle" data-umami-event="Toggle mode (list)" onclick="toggleColorScheme()">
            <i class="theme-switch-icon" data-feather="sun"></i>
        </button>
    </div>
{{ end }}
<h1>{{ .Title }}</h1>
<div class="list-gap"></div>
<div class="post-list">
    {{ range $k, $v := .Pages.ByPublishDate.Reverse }}
        {{ if .Date }}
            {{ if not $k }}
                <div class="sidenote">{{ .Date.Format "Jan 2006" }}</div>
            {{ else }}
                <div class="sidenote">{{ .Date.Format "Jan 2006" }}</div>
            {{ end }}
            {{ else }}
            {{ if not $k }}
                <div class="sidenote">no date</div>
            {{ else }}
                <div class="sidenote">no date</div>
            {{ end }}
        {{ end }}
        <h3 class="list"><a class="title" href="{{ .Permalink }}">{{ .Title | lower | markdownify }}</a></h3>
    {{ end }}
</div>
{{ end }}