<div id="nav-border" class="container">
    {{ if not .IsHome }}
    <div class="nav-outer">
        <div class="nav-inner">
            {{ with .Site.Menus.main }}
                {{ range sort . "Weight" }}
                    {{ if ne .Identifier "hide-from-nav" }}
                        <a class="internal" hyphens="none" href="{{ .URL }}">
                            {{ $text := print .Name | safeHTML }}
                            {{ $text }}
                        </a>
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
    {{ else }}
    <div class="nav-outer">
        <div class="nav-inner"></div>
    </div>
    {{ end }}
</div>

{{ range .Site.Params.customjs }}
    {{ $script := resources.Get . | minify }}
    <script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>
{{ end }}