<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{ $stylesheet := "css/style.css" }}
    <link rel="stylesheet" type="text/css" href="{{ $stylesheet | absURL }}">
    
    <!-- Custom css -->
    {{ range .Site.Params.customcss }}
        {{ $style := resources.Get . }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ end }}

    <link rel="stylesheet" href="https://use.typekit.net/jxt2fnp.css"> <!-- Source Serif 4-->
    <link rel="stylesheet" href="https://use.typekit.net/uwd7war.css"> <!-- Source Code -->
    <link href="https://fonts.cdnfonts.com/css/cooper-hewitt" rel="stylesheet">
    
    {{ if .Site.Params.description }}
        <meta name="description" content="{{ .Site.Params.description }}">
    {{ end }}

    {{ if .Site.Params.favicon }}
        {{ with .Site.Params.favicon }}
            <link rel="shortcut icon" href="{{ . | relURL }}">
        {{ end }}
    {{ end }}
    
    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ lower $title }}</title>
</head>