<!-- Math syntax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script>
  MathJax = {
      tex: {
        inlineMath: [ ['$','$'] ]
      }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons"></script>
<script>
  feather.replace()
</script>

{{ if eq .Site.Params.iconsource "tabler" }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
{{ end }}

{{ if eq .Site.Params.iconsource "fontawesome" }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{{ end }}

<!-- Dark mode switch and highlighting -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script>
  let isDarkMode = sessionStorage.getItem("darkMode");

  if (isDarkMode === null) {
    isDarkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches ? 1 : 0;
    sessionStorage.setItem("darkMode", isDarkMode);
  }

  function applyTheme(mode) {
    const link = document.createElement("link");
    link.type = "text/css";
    link.rel = "stylesheet";
    link.href = mode == 1 
      ? '//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/{{ .Site.Params.highlightstyle_dark | default "foundation" }}.min.css'
      : '//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/{{ .Site.Params.highlightstyle_light | default "github-dark-dimmed" }}.min.css';

    document.head.appendChild(link);
    document.body.classList.toggle('dark-mode', mode == 1);
  }

  applyTheme(isDarkMode);

  updateButtonLabel(document.getElementById("btn-theme-toggle"), isDarkMode);

  document.addEventListener('DOMContentLoaded', hljs.highlightAll);

  function updateButtonLabel(button, mode) {
    button.innerHTML = mode == 1 ? "read in light mode" : "read in dark mode";
  }

  function toggleColorScheme() {
    isDarkMode ^= 1;
    applyTheme(isDarkMode);
    updateButtonLabel(document.getElementById("btn-theme-toggle"), isDarkMode);
    sessionStorage.setItem("darkMode", isDarkMode);
    hljs.highlightAll()
  }

  document.getElementById("btn-theme-toggle").onclick = toggleColorScheme;
</script>
